@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 80px; 
    height: 100vh;
    max-width: none;
}

.top-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px; 
    margin-bottom: 20px;
}

.user-info-container, .form-container {
    flex: 1; /* Ambos contenedores ocupan el mismo espacio disponible */
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; /* Fondo blanco para los contenedores */
    border: 1px solid #ddd; /* Borde para los contenedores */
    border-radius: 5px; /* Esquinas redondeadas */
}

.user-info-container img {
    display: block;
    margin: 10px auto; /* Centra la imagen horizontalmente */
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.table-container {
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    background-color: #fff; /* Fondo blanco para la tabla */
    border: 1px solid #ddd; /* Borde para la tabla */
    border-radius: 5px; /* Esquinas redondeadas para la tabla */
    height: calc(100vh - 90px);
}

table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Quita el espacio entre celdas */
}

table, th, td {
    border: 1px solid #ddd; /* Borde de las celdas */
}

th, td {
    padding: 10px; /* Espacio interno en celdas */
    text-align: left;
}

th {
    background-color: #f4f4f4; /* Fondo para los encabezados */
}
