@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; 
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 80px; 
    height: 100vh;
    max-width: none;
}

.top-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px; 
    margin-bottom: 20px;
}

.user-info-container, .form-container {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
}

.user-info-container img {
    display: block;
    margin: 10px auto; 
}


.form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.form-container button:hover {
    background-color: #0056b3;
}

.table-container {
    width: 100%; 
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    height: calc(100vh - 90px);
}

table {
    width: 100%; 
    border-collapse: collapse; 
}

table, th, td {
    border: 1px solid #ddd; 
}

th, td {
    padding: 10px; 
    text-align: left;
}

th {
    background-color: #f4f4f4; 
}
