@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; 
}

.profile-card {
  display: flex;
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.profile-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile-info {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}

.left-column, .right-column {
  width: 48%;
}

.left-column p, .right-column p {
  margin-bottom: 10px;
}


@media (max-width: 768px) {
  .profile-card {
    flex-direction: column;
    width: 80%; 
    padding: 10px;
  }

  .profile-info {
    flex-direction: column;
    padding-left: 0;
  }

  .left-column, .right-column {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .profile-image img {
    width: 120px;
    height: 120px;
  }
}